<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
</head>

<body>
    <div class="container-box">
        <div class="container-box__content">
            <h1>Henrik Ibsen</h1>
            <img src="/images/Ibsen_by_Olrik.jpg" alt="Painting of Henrik Ibsen by Henrik Olrik">
            <p> <em> “Rob the average man of his life-illusion, and you rob him of his happiness at the same stroke.” </em></p>
        </div>
        <div class="container-box__menu">
            <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/photo-gallery">Photo Gallery</a></li>
        </ul>
        </div>
    </div>

</body>

</html>