<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/photo-gallery.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <title>Photo Gallery</title>
</head>

<body>
    <div class="container-box">
        
        <div class="container-box__content">
            <h1>Photo Gallery</h1>
            <div class="image-wrapper">
                <a title="National Library of Norway, No restrictions, via Wikimedia Commons"
                    href="https://commons.wikimedia.org/wiki/File:Henrik_Ibsen,_1901_(4720368304).jpg"><img width="256"
                        alt="Henrik Ibsen, 1901 (4720368304)"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Henrik_Ibsen%2C_1901_%284720368304%29.jpg/256px-Henrik_Ibsen%2C_1901_%284720368304%29.jpg"></a>
                <a title="Gustav Borgen, Public domain, via Wikimedia Commons"
                    href="https://commons.wikimedia.org/wiki/File:Ibsen-by-Borgen.jpg"><img width="256"
                        alt="Ibsen-by-Borgen"
                        src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Ibsen-by-Borgen.jpg"></a>
                <a title="See page for author, Public domain, via Wikimedia Commons"
                    href="https://commons.wikimedia.org/wiki/File:Henrik_Ibsen_-_Stadsschouwburg_1904-1905.jpg"><img
                        width="128" alt="Henrik Ibsen - Stadsschouwburg 1904-1905"
                        src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Henrik_Ibsen_-_Stadsschouwburg_1904-1905.jpg"></a>
                <a title="Daniel Georg Nyblin (1826–1910), Public domain, via Wikimedia Commons"
                    href="https://commons.wikimedia.org/wiki/File:Portrait_of_Henrik_Ibsen,_1863-64_(cropped).jpg"><img
                        width="256" alt="Portrait of Henrik Ibsen, 1863-64 (cropped)"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Portrait_of_Henrik_Ibsen%2C_1863-64_%28cropped%29.jpg/256px-Portrait_of_Henrik_Ibsen%2C_1863-64_%28cropped%29.jpg"></a>
                <a title="Nasjonalbiblioteket, CC BY 2.0 &lt;https://creativecommons.org/licenses/by/2.0&gt;, via Wikimedia Commons"
                    href="https://commons.wikimedia.org/wiki/File:Henrik_Ibsen_1887.jpg"><img width="256"
                        alt="Henrik Ibsen 1887"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Henrik_Ibsen_1887.jpg/256px-Henrik_Ibsen_1887.jpg"></a>
                <a title="Unknown engraver, Public domain, via Wikimedia Commons"
                    href="https://commons.wikimedia.org/wiki/File:The_Collected_Works_of_Henrik_Ibsen_(1906)_-_illustration_-_title_page.png"><img
                        width="256" alt="The Collected Works of Henrik Ibsen (1906) - illustration - title page"
                        src="https://upload.wikimedia.org/wikipedia/commons/6/6b/The_Collected_Works_of_Henrik_Ibsen_%281906%29_-_illustration_-_title_page.png"></a>
            </div>
        </div>
        <div class="container-box__menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
            </ul>
        </div>
</body>

</html>