<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/works.css">
    <title>Works</title>
</head>
<body>
    <div class="container-box">
        <div class="container-box__content">
            <h1>Works</h1>
            <ul>
                <li>1850 The Burial Mound also known as The Warrior's Barrow (Kjæmpehøjen)</li>
                <li>1852 St. John's Eve (Sancthansnatten)</li>
                <li>1854 Lady Inger of Oestraat (Fru Inger til Østeraad)</li>
                <li>1850 Catiline (Catilina)</li>
                <li>1855 The Feast at Solhaug (Gildet paa Solhaug)</li>
                <li>1856 Olaf Liljekrans (Olaf Liljekrans)</li>
                <li>1858 The Vikings at Helgeland (Hærmændene paa Helgeland)</li>
                <li>1862 Love's Comedy (Kjærlighedens Komedie)</li>
                <li>1863 The Pretenders (Kongs-Emnerne)</li>
                <li>1866 Brand (Brand)</li>
                <li>1867 Peer Gynt (Peer Gynt)</li>
                <li>1869 The League of Youth (De unges Forbund)</li>
                <li>1873 Emperor and Galilean (Kejser og Galilæer)</li>
                <li>1877 Pillars of Society (Samfundets Støtter)</li>
                <li>1879 A Doll's House (Et Dukkehjem)</li>
                <li>1881 Ghosts (Gengangere)</li>
                <li>1882 An Enemy of the People (En Folkefiende)</li>
                <li>1884 The Wild Duck (Vildanden)</li>
                <li>1886 Rosmersholm (Rosmersholm)</li>
                <li>1888 The Lady from the Sea (Fruen fra Havet)</li>
                <li>1890 Hedda Gabler (Hedda Gabler)</li>
                <li>1892 The Master Builder (Bygmester Solness)</li>
                <li>1894 Little Eyolf (Lille Eyolf)</li>
                <li>1896 John Gabriel Borkman (John Gabriel Borkman)</li>
                <li>1899 When We Dead Awaken (Når vi døde vaagner)</li>
            </ul>
        </div>
        <div class="container-box__menu">
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/photo-gallery">Photo Gallery</a></li>
        </ul>
        </div>
    </div>
</body>
</html>